label {
  color: var(--black-color);
}
.form-input {
  padding: var(--spacing-xxs) var(--spacing-xxs);
  background-color: var(--form-input-bg-color);
  min-width: 17rem;
  border-radius: var(--border-rd-xs);
}
.login-form label::after,
.signup-form label::after {
  content: "*";
  color: var(--required-field-indicator-color);
}
.login,
.signup {
  gap: var(--spacing-md);
  padding: var(--spacing-md) 4rem;
  background-color: var(--white-color);
  width: fit-content;
  margin: var(--spacing-lg) auto;
  border-radius: var(--border-rd-md);
  box-shadow: 3px 3px 15px rgb(212, 210, 210);
}
.login-form,
.signup-form {
  gap: var(--spacing-xs);
}
.input-field-wrapper {
  gap: var(--spacing-xxs);
}
.btn-verify {
  padding: 0.4rem var(--spacing-sm);
  color: var(--white-color);
  width: 100%;
  border: 2.5px solid transparent;
}
.btn-primary {
  background: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
}
.btn-secondary {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
}
.btn-secondary button {
  color: var(--primary-color);
}
.btn-secondary:hover {
  background-color: var(--white-color);
}
.btn-secondary .btn-icon {
  color: var(--primary-color);
}
.link-to-option{
    color:var(--primary-color);
    text-decoration: underline;
}
@media only screen and (max-width:427px){
    .login,.signup{
        box-shadow: none;
        padding:0;
    }
}